{% extends "admin/base.html" %}
{% block title %}Attendance{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin/attendance.css') }}">

        <div class="attendance-card">
            <h2>Today's Attendance</h2>
            <p>Real-time attendance tracking</p>

            <ul class="attendance-list">

                {% for student in attendancedisplay %}
                <li class="attendance-item">
                    <div class="employee-info">
                        <div class="avatar">
                            <img src="data:image/jpeg;base64,{{ student.img_data }}" alt="Student Image">
                        </div>
                        <div>
                            <strong>{{ student.name }}</strong><br>
                                    {{ student.student_id }}
                        </div>
                    </div>
                    <div class="check-in-time">Checked in at {{ student.attendance_time }}</div>
                </li>{% endfor %}
            </ul>
        </div>
{% endblock %}