<!--<div class="welcome">Welcome, John Doe</div>
        <div class="overview-tabs">
            <div class="tab active"><a href="{{ url_for('admin_dashboard') }}">Overview</a></div>
            <div class="tab"><a href="{{ url_for('admin_attendancedisplay') }}">Attendance</a></div>
            <div class="tab"><a href="{{ url_for('admin_employee') }}">Faculty</a></div>
            <div class="tab"><a href="{{ url_for('addclass') }}">Class</a></div>
            <div class="tab"><a href="#">Schedule</a></div>
            <div class="tab"><a href="#">Settings</a></div>
        </div>
-->