<!--<div class="welcome">Welcome, John Doe</div>
        <div class="overview-tabs">
            <div class="tab active"><a href="{{ url_for('student_dashboard') }}">Overview</a></div>
             <div class="tab"><a href="{{ url_for('attendancedisplay') }}">Attendance</a></div>
            <div class="tab"><a href="{{ url_for('employee') }}">My Profile</a></div>
            <div class="tab"><a href="#">Schedule</a></div>
            <div class="tab"><a href="#">Settings</a></div>
        </div>
-->