<!--<div class="welcome">Welcome, John Doe</div>
        <div class="overview-tabs">
            <div class="tab active"><a href="{{ url_for('faculty_dashboard') }}">Overview</a></div>
            <div class="tab"><a href="{{ url_for('take_attendance') }}">Take Attendance</a></div>
            <div class="tab"><a href="{{ url_for('facultyattendancedisplay') }}">Attendance</a></div>
            <div class="tab"><a href="{{ url_for('reports') }}">Reports</a></div>
            <div class="tab"><a href="{{ url_for('faculty_students') }}">Students</a></div>
            <div class="tab"><a href="#">Schedule</a></div>
            <div class="tab"><a href="#">Settings</a></div>
        </div>
-->