
<div class="sidebar">
        <h1>FaceAttend</h1>
        <ul>
            <li><a href="{{ url_for('faculty_dashboard') }}">Overview</a></li>
            <li><a href="{{ url_for('take_attendance') }}">Take Attendance</a></li>
            <li><a href="{{ url_for('facultyattendancedisplay') }}">Attendance</a></li>
            <li><a href="{{ url_for('reports') }}">Reports</a></li>
            <li><a href="{{ url_for('faculty_students') }}">Students</a></li>
        </ul>
        <div class="logout">
            <a href="{{ url_for('home') }}">Logout</a>
        </div>
    </div>
